@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Тестовое задание СибГеоПроект</h2>
    <p>Возможности:</p>
    <p><a href="@Url.Action("LoadSurvey", "Home")">Ответить на вопросы</a></p>
    <p><a href="@Url.Action("GetStatistics", "Home")">Просмотр ответов</a></p>
</div>
