<div>
    <form action="LoadSurveyWithFIO" id="FIOForm" method="post">
        <div class="form-group">
            <label for="inputFullName">Введите ФИО</label>
            <input type="text" class="form-control required" id="inputFullName" name="inputFullName" placeholder="Фамилия И.О.">
        </div>
        <button type="submit" class="btn btn-primary">Начать тестирование</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#FIOForm').validate({
            rules: {
                inputFullName: {
                    check: true
                }
            }
        });

        $.validator.addMethod("check", function (value, element, param) {
            let regexp = /^[А-Я][а-я]* [А-Я]\.[А-Я]\.$/
            if (regexp.test(value)) {
                return true;
            } else {
                return false;
            }
        }, 'ФИО введено некорректно');
    });
</script>