@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Тестовое задание СибГеоПроект</h2>
    <p>Возможности:</p>
    <p><a asp-area="" asp-controller="Home" asp-action="LoadSurvey">Ответить на вопросы</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="GetStatistics">Просмотр ответов</a></p>
</div>
